//color pattern
$color-folk-black: #000;
$color-folk-white: #FFF;

$color-folk-bold-marron: #A50311;
$color-folk-dark-blue: #232733;
$color-folk-dark-golden: #D99E32;
$color-folk-dark-gray: #403F3D;
$color-folk-dark-marron: #620000;
$color-folk-gray: #828690;
$color-folk-golden: #D99D32;
$color-folk-light-gray: #F3EBE3;
