$layout-name: 'l-collection';

.#{$layout-name} {
    &__icon-download {
        width: 100px;
        height: 100px;    
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        &--box {    
            border-radius: 50%;
            background-image: linear-gradient(to right, #CA932C, #966B19);
        }
    }

    &__access {
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
}