$layout-name: 'l-navbar';

.#{$layout-name} {
    .nav-item {
        margin: 0 .2rem;
    }

    .nav-link {
        line-height: 100%;
        font-size: 1rem;
        font-weight: 700;
        font-family: 'Lato', sans-serif;
        color: #640000 !important;
    }

    .dropdown {
        &:hover {
            .dropdown-menu {
                top: 100%;
                opacity: 1;
                visibility: visible;
    
            }   
        } 
    }
    .dropdown-menu {
        top: 50%;
        padding-top: 1rem;
        transition: all .4s;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
        padding-bottom: 1rem;
        border-top-left-radius: 6px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 40px;    
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        display: block;
        background-color: $color-folk-bold-marron;

        .nav-item {
            margin: 0;
        }

        .dropdown-item {
            font-size: 1rem;
            font-weight: 700;
            font-family: 'Lato', sans-serif;
            color: $color-folk-white !important;

            &:hover {
                background-color: $color-folk-dark-golden;
            }
        }
    }
}