$layout-name: 'l-single-post';

.#{$layout-name} {
    * {
        font-family: 'Lato', sans-serif;
    }
    
    p, span, a {
        font-size: 1.125rem;
        color: #5B5B5B;

        @media screen and (max-width: 991px) {
            font-size: .875rem;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color-folk-bold-marron;
    }
}