$layout-name: 'l-template-content';

.#{$layout-name} {
    &__banner {
        height: 280px;

        &__title {
            font-size: 4rem;

            &::before {
                content: '';
                width: 280px;
                height: 5px;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                background-color: $color-folk-dark-golden;
            }
        }
    }

    &__content {
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Cinzel', sans-serif !important;

            & * {
                font-family: 'Cinzel', sans-serif !important;
            }
        }
    }
}