$component-name: 'c-title';

.#{$component-name} {
    &-pattern {
        position: relative;
        display: inline-block;
        font-size: 3.25rem;
        font-weight: bold;
        font-family: 'Cinzel Decorative';
        text-align: center;
        color: $color-folk-dark-golden;

        &::before,
        &::after {
            content: '';
            width: 12px;
            height: 12px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            position: absolute;
            background-color: $color-folk-bold-marron;
        }

        &::before {
            left: -50px;
        }

        &::after {
            right: -50px;
        }

        &__underline {
            width: calc(100% - 60px);
            height: 5px;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            background-color: $color-folk-bold-marron;
        }
    }
}