$component-name: 'c-title';

.#{$component-name} {
    &-pattern {
        position: relative;
        display: inline-block;
        font-size: 3.25rem;
        font-weight: bold;
        font-family: 'Cinzel Decorative';
        text-align: center;
        color: $color-folk-dark-golden;
        
        @media screen and (min-width: 1600px) {
            font-size: 4.375rem;
        }
        
        @media screen and (max-width: 991px) {
            font-size: 2.625rem;
        }

        @media screen and (max-width: 575px) {
            font-size: 1.75rem;
        }

        &::before,
        &::after {
            content: '';
            width: 12px;
            height: 12px;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            position: absolute;
            background-color: $color-folk-bold-marron;

            @media screen and (max-width: 991px) {
                display: none;
            }
        }

        &::before {
            left: -50px;
        }

        &::after {
            right: -50px;
        }

        &--light {
            &::before {
                left: -30px;
            }

            &::after {
                right: -30px;
            }
        }

        &__underline {
            width: calc(100% - 60px);
            height: 5px;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            background-color: $color-folk-bold-marron;
        }
    }

    &-secondary {
        position: relative;
        display: inline-block;
        font-size: 2.375rem;
        font-weight: 700;
        font-family: 'Cinzel Decorative';
        text-align: center;   
        color: $color-folk-dark-golden;

        &::before {
            content: '';
            width: calc(100% + 20px);
            height: 3px;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            background-color: $color-folk-bold-marron;
        }
    }
}