.swiper-button-prev-blogs,
.swiper-button-next-blogs {
    width: 40px;
    height: 40px;

    &::after {
        display: none;
    }
}

.swiper-button-prev-blogs {
    left: -3rem;
}

.swiper-button-next-blogs {
    right: -3rem;
}

.swiper-pagination-blogs {
    .swiper-pagination-bullet {
        margin: 0 .2rem !important;
        background-color: $color-folk-bold-marron;
    }
}

.swiper-button-prev-months,
.swiper-button-next-months {
    width: 23px;
    height: 23px;

    &::after {
        display: none;
    }
}

.swiper-button-prev-months {
    left: 5rem;
}

.swiper-button-next-months {
    right: 5rem;
}

.swiper-container-months {
    position: relative;

    &::before {
        content: '';
        width: 12px;
        height: 12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        position: absolute;
        background-color: $color-folk-bold-marron;
    }
}

.swiper-button-prev-editorial-news,
.swiper-button-next-editorial-news {
    width: 40px;
    height: 40px;

    &::after {
        display: none;
    }
}

.swiper-button-prev-editorial-news {
    left: -.5rem;
}

.swiper-button-next-editorial-news {
    right: -.5rem;
}