.swiper-button-prev-blogs,
.swiper-button-next-blogs {
    width: 40px;
    height: 40px;

    &::after {
        display: none;
    }
}

.swiper-button-prev-blogs {
    left: -3rem;
}

.swiper-button-next-blogs {
    right: -3rem;
}

.swiper-pagination-blogs {
    .swiper-pagination-bullet {
        margin: 0 .2rem !important;
        background-color: $color-folk-bold-marron;
    }
}

.swiper-button-prev-months,
.swiper-button-next-months {
    width: 23px;
    height: 23px;

    &::after {
        display: none;
    }
}

.swiper-button-prev-months {
    left: 5rem;
}

.swiper-button-next-months {
    right: 5rem;
}